<div>
    Add a band!
    <form action="<%= bands_url %>" method="post">

        <label> Name:
            <input type="text" name="band[name]">
        </label>

        <input type="submit" value="Beat it!">
    </form>
</div>