<h1>All the Subs</h1>

<a href="<%= new_sub_url %>">Create a Sub!</a>

<% @subs.each do |sub| %>
    <ul>
        <li>Title: <%= sub.title %></li>
        <li>Description<%= sub.description %></li>
        <br>
    </ul>
<% end %>
