
<div class="sign-up">

    <div class="form-and-title">

        <div class="sign-up-title">Sign Up</div>

        <br>
        <div class="sign-up-form">
            <form action="<%= users_url %>" method="post">
                <label>Email:
                    <input type="text" name="user[email]" value="<%= @user.email %>">
                </label>

                <br>
                <br>

                <label>Password:
                    <input type="password" name="user[password]">
                </label>

                <br>
                <br>

                <input type="submit" value="Sign UP!">
            </form>
        </div>
    </div>

</div>