<h1>Your Profile</h1>

<div class="user-profile">
    <div> Hello, <%= @user.email %> </div>

    <div>This is your show page.</div>
    
    <div><a href="<%= bands_url %>">Check out the bands</a></div>

  
</div>