// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-up {
    font-family: 'Calistoga', cursive;
    background-image: url(leaves.jpeg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up-title {
    font-size: 40px;
    margin: 0 auto;
}

.sign-up-form {
    margin: 0 auto;
    font-size: 20px;
}

.form-and-title {
    border: 1px solid gray;
    height: 190px;
    width: 250px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 1px 1px 14px 8px;
}

input[type=text] {
    border: 1px solid transparent;
    padding: 5px;
    margin-left: 10px;
    background-color: lavender;
}

input[type=text]:hover {
    cursor: pointer;
    background-color: lightcoral;
}
input[type=password] {
    border: 1px solid transparent;
    padding: 5px;
    margin-left: 10px;
    background-color: lavender;
}

input[type=password]:hover {
    cursor: pointer;
    background-color: lightcoral;
}


.user-profile {
    height: 100%;
    width: 100%;
    background-image: url(headphones.jpeg);
    background-repeat: no-repeat;
    color: whitesmoke;
    font-family: 'Calistoga', cursive;
    font-size: 50px;
}