* {
  margin: 2px;
  padding: 5px;
}

li {
  list-style: none;
  border: 1px solid lavender;
}

.chatroom-container {
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message-list {
  overflow-y: scroll;
  height: 300px;
  width: 400px;
  border: solid gray 1px;
}
.load-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.chatroom-title {
    
    font-size: 15px;
    font-weight: bold;
}

.chat-button {
    
}

.chat-button:hover {
    color: red;
    border-radius: 12px;
    background-color: black;
    cursor: pointer;
}